body{
  font-family: Arial;
  border: solid 1px black;
  min-width: 1024px;
}
.header{
  margin: 0;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 25px;
  width: 100%;
  min-width: 1024px;
  height: 120px;
  background-color: #ebebeb;
  font: Arial;
  border-bottom: solid 1px black;
}
.logo{
  height: 100%;
  width: 200px;
}
.logo:hover{
  cursor: pointer;
}
.header > a{
  border-bottom: #ebebeb solid 1px;
  margin-left: auto;
  text-decoration: none;
  color: black;
}
.header > a:hover{
  border-bottom: red solid 1px;
}
.hello-user{
  margin-left: 20px;
  display: flex;
  align-items: center;
}

#user-icon{
  width: 48px;
  height: 48px;
  background-image: url(../images/user-icon.png);
  background-size: cover;
}
#arrow-icon{
  margin-left: 10px;
  box-sizing: border-box;
  border: solid 1px #ebebeb;
  width: 32px;
  height: 32px;
  background-image: url(../images/arrow-icon.png);
  background-size: cover;
}
#arrow-icon:hover{
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: red;
  cursor: pointer;
}
.wrapper{
  display: flex;
  align-items: flex-start;
  margin: 0;
  min-width: 1024px;
  min-height: 500px;
}
.left-nav-panel{
  margin-right: 30px;
  display: inline-block;
  min-width: 200px;
  width: 10%;
  min-height: 600px;
  border-style: none solid solid none;
  border-color: black;
  border-width: 1px;
}
.vert-nav{
  margin: 0;
  padding: 20px 10px 20px 10px;
  list-style: none;
}
.vert-nav > li{
  margin: 0 0 10px 0;
  box-sizing: border-box;
  min-height: 50px;
  padding: 5px;
  border: solid black 1px;
  text-align: center;
  line-height: 50px;
}
.vert-nav > li:hover{
  cursor: pointer;
  background-color: #cfcfcf;
}

.content{
  box-sizing: border-box;
  padding: 20px;
  width: 70%;
}
.main-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-content > h1{
  margin: 0;
  font-size: 60px;
}
.main-content > img{
  width: 80%;
  height: 300px;
}

.main-content > img:hover{
  cursor: pointer;
}

.tab-details{
  border: solid black 1px;
  width: 100%;
  position: relative;
}
.tab-content{
  display: flex;
  align-items: flex-start;
  padding: 20px;
}
.tab-content > p{
  margin-left: 50px;
}
.tab-content > img{
  min-height: 200px;
  max-height: 300px;
  width: 10%;
}
.tab-wrapper{
  margin-top: 20px;
  width: 100%;
}

.tab-wrapper > input{
  visibility: hidden;
  position: absolute;
}
.tab-wrapper > label{
  position: relative;
  border: black 1px solid;
  display: inline-block;
  padding: 0 5px 0 5px;
	height: 25px;
  background-color: #a8a8a8;
	line-height: 25px;
  text-align: center;
}
.tab-wrapper > label:hover{
  cursor: pointer;
  background: #fff;
}
.tab-content{
  display: none;
}
#tab-1:checked  ~ #tab-l1,
#tab-2:checked  ~ #tab-l2,
#tab-3:checked  ~ #tab-l3,
#tab-4:checked  ~ #tab-l4,
#tab-5:checked  ~ #tab-l5,
#tab-6:checked  ~ #tab-l6,
#tab-7:checked  ~ #tab-l7 {
	background: #f1f1f1;
	border-color: #f1f1f1;
}

#tab-1:checked  ~ .tab-details #tab-cont-1,
#tab-2:checked  ~ .tab-details #tab-cont-2,
#tab-3:checked  ~ .tab-details #tab-cont-3,
#tab-4:checked  ~ .tab-details #tab-cont-4,
#tab-5:checked  ~ .tab-details #tab-cont-5,
#tab-6:checked  ~ .tab-details #tab-cont-6,
#tab-7:checked  ~ .tab-details #tab-cont-7 {
	display: flex;
}

.footer{
  margin-top: 100px;
  min-width: 1024px;
}

.footer > p{
  text-align: center;
}
