.page
{
    font-family: Arial;

    min-width: 1024px;

    border: solid 1px black;
}

.header
{
    font: Arial;

    display: flex;

    box-sizing: border-box;
    width: 100%;
    min-width: 1024px;
    height: 120px;
    margin: 0;
    padding: 25px;

    border-bottom: solid 1px black;
    background-color: #ebebeb;

    align-items: center;
}

.header__logo
{
    width: 200px;
    height: 100%;
}

.header__logo:hover
{
    cursor: pointer;
}

.header__ref
{
    margin-left: auto;

    text-decoration: none;

    color: black;
    border-bottom: #ebebeb solid 1px;
}

.header__ref:hover
{
    border-bottom: red solid 1px;
}

.hello-user
{
    display: flex;

    margin-left: 20px;

    align-items: center;
}

.hello-user__user-icon
{
    width: 48px;
    height: 48px;

    background-image: url(../images/user-icon.png);
    background-size: cover;
}

.hello-user__arrow-icon
{
    box-sizing: border-box;
    width: 32px;
    height: 32px;
    margin-left: 10px;

    border: solid 1px #ebebeb;
    background-image: url(../images/arrow-icon.png);
    background-size: cover;
}

.hello-user__arrow-icon:hover
{
    cursor: pointer;

    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: red;
}

.main
{
    display: flex;

    min-width: 1024px;
    min-height: 500px;
    margin: 0;

    align-items: flex-start;
}

.nav
{
    display: inline-block;

    width: 10%;
    min-width: 200px;
    min-height: 600px;
    margin-right: 30px;

    border-width: 1px;
    border-style: none solid solid none;
    border-color: black;
}

.menu
{
    margin: 0;
    padding: 20px 10px;

    list-style: none;
}

.menu__item
{
    line-height: 50px;

    box-sizing: border-box;
    min-height: 50px;
    margin: 0 0 10px 0;
    padding: 5px;

    text-align: center;

    border: solid black 1px;
}

.menu__item:hover
{
    cursor: pointer;

    background-color: #cfcfcf;
}

.content-wrapper
{
    box-sizing: border-box;
    width: 70%;
    padding: 20px;
}

.main-content-wrapper
{
    display: flex;

    align-items: center;
    justify-content: space-between;
}

.main-content-wrapper__title
{
    font-size: 60px;

    margin: 0;
}

.main-content-wrapper__image
{
    width: 80%;
    height: 300px;
    margin-left: 15px;
}

.main-content-wrapper__:hover
{
    cursor: pointer;
}

.tab-details-wrapper
{
    position: relative;

    width: 100%;

    border: solid black 1px;
}

.tab-content__paragraph
{
    margin-left: 50px;
}

.tab-content__image
{
    width: 10%;
    min-height: 200px;
    max-height: 300px;
}

.tab-wrapper
{
    width: 100%;
    margin-top: 20px;
}

.tab
{
    float: left;
}

.tab__input
{
    position: absolute;

    visibility: hidden;
}

.tab__label
{
    line-height: 25px;

    position: relative;

    display: inline-block;

    height: 25px;
    padding: 0 5px;

    text-align: center;

    border: black 1px solid;
    background-color: #a8a8a8;
}

.tab__label:hover
{
    cursor: pointer;

    background: #fff;
}

.tab-content
{
    position: absolute;
    left: 260px;

    display: none;

    width: 100%;
}

.tab__input:checked ~ .tab__label
{
    border-color: #f1f1f1;
    background: #f1f1f1;
}

.tab__input:checked ~ .tab-content
{
    display: flex;

    align-items: center;
    justify-content: flex-start;
}

.footer
{
    min-width: 1024px;
    margin-top: 100px;
}

.footer__paragraph
{
    text-align: center;
}

@media screen and (min-width: 600px) and (max-width: 800px)
{
    .page
    {
        width: 660px;
    }

    .header
    {
        width: 660px;
        height: 60px;
        padding: 5px;
    }

    .main
    {
        width: 660px;
    }

    .menu-wrapper
    {
        width: 150px;
    }

    .menu__item
    {
        line-height: normal;

        min-height: 0;
    }

    .content-wrapper
    {
        width: 510px;
    }

    .main-content-wrapper__image
    {
        width: 50%;
        height: 200px;
    }
}

@media screen and (max-width: 480px)
{
    .page
    {
        width: 470px;
    }

    .header
    {
        width: 470px;
        height: 60px;
        padding: 5px;
    }

    .main
    {
        width: 470px;
    }

    .menu-wrapper
    {
        width: 100px;
    }

    .menu__item
    {
        line-height: normal;

        min-height: 0;
    }

    .content-wrapper
    {
        width: 370px;
    }

    .main-content-wrapper__image
    {
        width: 50%;
        height: 100px;
    }
}
